{% extends '@App/main.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bucket.css') }}">
{% endblock %}
{% block title %}AppBundle:Dishes:index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ cafe.name }}</h1>
            <p>{{ cafe.description }}</p>
            {% if is_granted('ROLE_USER') %}
            <div class="col-lg-4 bucket">
                <p>Корзина</p>
                <hr>
                <ul>
                {% for dish in bucket %}
                    <p class="dish_name">{{ dish.dish }}</p>
                    <li>
                        <i>Кол-во:</i>{{ dish.count }}
                    </li>
                    <li>
                        <i>Цена:</i>{{ dish.price }}
                    </li>
                {% else %}
                    <li>Ваша корзина пуста, желаете что-нибудь купить?</li>
                {% endfor %}
                </ul>
                <p>Тотальная цена: {{ total_price }}</p>
            </div>
            {% endif %}
            {% for dish in dishes %}
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ dish.name }}</h3>
                            <p>{{ dish.description }}</p>
                            <p><b>Price: ${{ dish.price }}</b></p>
                            {% if is_granted('ROLE_USER') %}
                            <p>{{ form(dishesForm[dish.id]) }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>Сожалеем, но в этом кафе еще ничего нет!</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}
