{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cafes.css') }}">
{% endblock %}
{% block title %}AppBundle:Dishes:index{% endblock %}

    {% block navbar %}
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand cursive" href="{{ path('app_allcafes_index') }}">Food City</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if not is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Registration</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Log in</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="/admin/">Admin</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        {% if not is_granted('ROLE_USER') %}
        <h3 style="text-align: center;
            border-bottom: yellow 2px solid">
            Зарегистрируйтесь или войдите для того, чтобы совершить заказ
        </h3>
        {% endif %}
    {% endblock navbar %}
    {% block content %}

    {% endblock %}