{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <img width="400" height="400" style="border-radius: 50%" src="{{ vich_uploader_asset(object, 'imageFile') }}" />
{% endblock %}
