{% extends '@App/main.html.twig' %}

{% block title %}AppBundle:AllCafes:index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cafes.css') }}">
{% endblock %}
{% block content %}
    <div class="top">
        <p>Топ блюды за последний год</p>
        <table class="table table-bordered">
            {% for dish_data in popular_dishes %}
                <tr>
                    <td><h3>{{ dish_data.cafe_name }}</h3></td>
                    <td><h3>Блюдо: {{ dish_data.dish_name }}</h3></td>
                    <td><h3>Куплено за последний год: {{ dish_data.qty }}</h3></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container">
        <div class="row">
            {% for cafe in cafes %}
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <img src="{{ vich_uploader_asset(cafe, 'imageFile') }}" />
                        <div class="caption">
                            <h3>{{ cafe.name }}</h3>
                            <p></p>
                            <p><a href="{{ path('app_dishes_index', {'cafe_id' : cafe.id}) }}" class="btn btn-default more" role="button">Подробнее...</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
